
<div class="container">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" (change)="filterChange($event)" [(ngModel)]="selectedFilterId">
                <ng-container *ngFor="let data of filter">
                    <option  [selected]="data.id==1" value="{{data.id}}">{{data.name}}</option>
                </ng-container>
              
            </select>
          </div>
      </div>
      <div class="row">
          <ng-container *ngFor="let product of productDetails;let i =index;trackBy:productTrackBy">
            <div *ngIf="i+1<=productlength" class="card mr-2 mb-2 mx-auto" style="width: 15rem;" (scroll)="scrollHandler($event)" >
                <img class="card-img-top img-sm mb-2" src="{{product.Images}}" alt="image not available">
                <div class="text-align">
                  <p><b>Title:</b>{{product.ProductTitle}}</p>
                  <p><b>collection : </b>{{product.Collection}}</p>
                  <p><b>Price : </b>{{product.Price}}</p>
                  <p><b>StyleName :</b> {{product.StyleName}}</p>
                  <p><b>StyleNumber :</b> {{product.StyleNumber}}</p>
                  <p><b>NetQuantity :</b> {{product.NetQuantity}}</p>
                  <p><b>ProductCode : </b>{{product.ProductCode}}</p>
                  <p><b>AvailableSizes :</b> {{product.AvailableSizes}}</p>
                  
                </div>
              </div>
          </ng-container>
    </div>
    </div>